/*PALETA DE CORES
vinho: #60262C
bordo: #962333
vermelho: #A32633
cinza: #343339
cinza azulado: #20252C
preto: #13171B */

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 70px;
  margin: 0 auto;
  padding: 60px 40px 60px 40px;
  background-color: #fdfdfd;
}

/* section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 1115px;
  padding: 40px;
  gap: 40px;
} */

.logo {
  color: #bf3213;
}

.cabecalho__titulo {
  color: #fdfdfd;
}

.titulo__produtos {
  width: 578px;
  height: 24px;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #13171b;
  text-align: center;
}

.produtos__container {
  display: flex;
  width: 700px;
  height: auto;
  gap: 20px;
  padding: 15px;
  background-color: #fdfdfd;
  overflow: hidden;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.box__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 176px;
  border-radius: 5px;
  border: 3px solid;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #962333;
  border-radius: 10px;
  border: 3px solid #13171b;
  padding: 10px;
}

.img__nome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #fdfdfd;
}

.preco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fdfdfd;
}

.lixeira {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 517px;
  gap: 1.5rem;
}

.formulario__titulo {
  width: 392px;
  height: 48px;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #13171b;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formulario__campos {
  width: 380px;
  height: 50px;
  border: 3px solid #962333;
  border-radius: 70px;
}

.formulario__campos::placeholder {
  width: 200px;
  height: 20px;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 10px;
  color: #962333;
}

.formulario__botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 65px 0 65px;
  gap: 10px;
}

.botoes--guardar {
  width: 188px;
  height: 55px;
  border-radius: 15px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  background-color: #962333;
  color: #fdfdfd;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  cursor: pointer;
}

.botoes--limpar {
  width: 188px;
  height: 55px;
  border-radius: 15px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  background-color: #fdfdfd;
  color: #962333;
  border: 2px solid;
  cursor: pointer;
}
